<div id="reports">
    <table class="table table-striped table-hover clickable">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>CFD</th>
            <th>Tipo</th>
            <th>Concepto</th>
            <th>Cargos</th>
            <th>Abonos</th>
            <th><span class="glyphicon glyphicon-usd"></span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="documento in $ctrl.data | itemsPerPage: $ctrl.pageSize|  toArray:false | orderBy: '-fecha_generacion'">
            <td>{{documento.fecha_generacion | amDateFormat:'YYYY-MM-DD'}}</td>
            <td>{{ documento.cfd }}</td>
            <td class="text-capitalize">{{documento.tipo}}</td>
            <td ng-if="documento.tipo === 'recibo'">
                <span ng-repeat="producto in documento.recibo.productos">
                    {{ producto.concepto }}
                </span>
            </td>
            <td ng-if="documento.tipo === 'pago'">Recibo</td>
            <td>{{documento.tipo === 'recibo'? '$' + documento.recibo.total : ''}}</td>
            <td>{{documento.tipo === 'pago' ? '$' + documento.pago.total : ''}}</td>
            <td><span class="glyphicon" ng-class="documento.pago ? 'glyphicon-ban-circle' : documento.recibo.pagado
            ? 'glyphicon-ok-circle text-success' : 'glyphicon-remove-circle text-danger'"></span></td>
            <td><a class="btn btn-default btn-raised" ng-click="$ctrl.viewItem(documento)">Ver</a>
                <a class="btn btn-danger btn-raised" ng-click="$ctrl.printItem(documento)">Imprimir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<dir-pagination-controls class="pull-left" on-page-change="$ctrl.getClientes(newPageNumber, oldPageNumber)">
</dir-pagination-controls>
