<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <button class="btn btn-raised btn-primary" ng-click="$ctrl.print()">
                <i class="glyphicon glyphicon-print"></i> Imprimir
            </button>
        </div>
    </div>
    <div class="col-sm-12">
        <div id="print-content">
            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-borderless">
                        <tbody>
                        <tr><td><h1>Servicios Contables</h1></td></tr>
                        <tr><td><strong>Razon Social: </strong>{{$ctrl.cliente.razon_social}}</td></tr>
                        <tr><td><strong>RFC: </strong><span class="text-uppercase">{{$ctrl.cliente.rfc}}</span></td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4">
                    <table class="table" style="margin-top: 30px;">
                        <tbody>
                        <tr><td><strong>Tipo: <span class="text-capitalize">{{$ctrl.documento.tipo}}</span></strong></td></tr>
                        <tr><td>Folio: {{$ctrl.documento.cfd}}</td></tr>
                        <tr><td>Fecha: {{$ctrl.documento.fecha_generacion | amDateFormat:'MM/DD/YYYY'}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><strong>Concepto</strong></th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>IVA</th>
                            <th>Importe</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(i,producto) in $ctrl.documento.recibo.productos">
                            <td>{{(i+1) + '. '+ producto.concepto}}</td>
                            <td>$ {{producto.precio.toFixed(2)}}</td>
                            <td>{{producto.cantidad}}</td>
                            <td>$ {{producto.iva.toFixed(2)}}</td>
                            <td>$ {{producto.importe.toFixed(2)}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div>
                                    <p class="lead"><strong>Subtotal: </strong></p><br/>
                                    <p class="lead"><strong>IVA: </strong></p><br/>
                                    <p class="lead"><strong>Total:</strong></p><br/>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="lead">$ {{$ctrl.documento.recibo.subtotal.toFixed(2)}}</p><br/>
                                    <p class="lead">$ {{$ctrl.documento.recibo.iva.toFixed(2)}}</p><br/>
                                    <p class="lead"><strong>$ {{$ctrl.documento.recibo.total.toFixed(2)}}</strong></p><br/>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
