<div id="reports">
    <table class="table table-striped table-hover clickable">
        <thead>
        <tr>
            <th></th>
            <th>Razon Social</th>
            <th>RFC</th>
            <th>Domicilio</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="user in $ctrl.clientes | itemsPerPage: $ctrl.pageSize">
            <td><label><input type="radio" name="selectClient" ng-click="$ctrl.selectItem(user)"/></label></td>
            <td>{{ user.razon_social }}</td>
            <td>{{ user.rfc }}</td>
            <td>{{ user.domicilio }}</td>
        </tr>
        </tbody>
    </table>
</div>

<dir-pagination-controls class="pull-left" on-page-change="$ctrl.getClientes(newPageNumber, oldPageNumber)">
</dir-pagination-controls>
