<div class="navbar navbar-info">

	<div ng-if="$ctrl.isLogged()" class="container-fluid">
        <a href="#" class="navbar-brand" ui-sref="home">Servicios Contables Web</a>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="javascript:void(0)" title=""></a>
		</div>

		<div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active" ng-show="$ctrl.level === 'empleado' || $ctrl.level === 'admin'">
                    <a href="#" ui-sref="clientes">Clientes</a>
                </li>
                <li uib-dropdown class="" ng-show="$ctrl.level === 'empleado' || $ctrl.level === 'admin'">
                    <a href="#" uib-dropdown-toggle>Documentos <b class="caret"></b></a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li><a href="#" ui-sref="documentos">Crear Documentos</a></li>
                        <li><a ui-sref="documentos-list">Documentos Emitidos</a></li>
                    </ul>
                </li>
                <li class="" ng-show="$ctrl.level === 'admin'">
                    <a href="#" ui-sref="cuentas">Empleados</a>
                </li>
                <li class="" ng-show="$ctrl.level === 'empleado' || $ctrl.level === 'admin'">
                    <a href="#" ui-sref="firmas">Firmas</a>
                </li>
                <li class="" ng-show="$ctrl.level === 'cliente'">
                    <a ui-sref="estado">Estados de Cuenta</a>
                </li>
            </ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"> {{ $ctrl.getLoginName() }} <span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)" ng-click="$ctrl.logout()">Cerrar Sesion</a></li>
					</ul>
				</li>
			</ul>
		</div>

	</div>

</div>
