<form name="<%= name %>Form" ng-submit="$ctrl.onSubmit();">
	<div layout-gt-sm="row">
		<md-input-container class="md-block" flex-gt-sm>
			<label translate="<%= name %>.form.name"></label>
			<input type="text" name="name" ng-model="$ctrl.data.name" ng-required="true">
		</md-input-container>
	</div>

	<div layout-gt-sm="row">
		<md-input-container class="md-block" flex-gt-sm>
			<label translate="<%= name %>.form.email"></label>
			<input type="email" name="email" ng-model="$ctrl.data.email" ng-required="true">
		</md-input-container>
	</div>

	<div layout-gt-sm="row">
		<md-input-container class="md-block" flex-gt-sm>
			<label translate="<%= name %>.form.level"></label>
			<md-select name="level" ng-model="$ctrl.data.level" ng-model-options="{ trackBy: '$value' }"
				placeholder="{{ '<%= name %>.form.level' | translate }}" ng-required="true">
				<md-option ng-repeat="level in $ctrl.levels" ng-value="level.id">
					{{ '<%= name %>.form.' + level.id | translate }}
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<md-checkbox class="md-primary md-block" name="active" ng-model="$ctrl.data.active">
				{{ '<%= name %>.form.active' | translate }}
			</md-checkbox>
		</md-input-container>
	</div>
</form>
<i ng-init="$ctrl.setForm(<%= name %>Form)"></i>
