body {
    overflow: auto;
}

.centered {
    margin: auto;
    position: absolute;
    /*top: 0; */
    left: 0;
    /*bottom: 0; */
    right: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.clickable:hover {
    cursor: pointer;
}

#login {
    top: 20% !important;
}

/* Loading bar */
#loading-bar .bar {
    background: GhostWhite !important;
    height: 4px !important;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Borderless Table */

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

/* Print Selector */
@media print {
    body * {
        visibility: hidden;
    }
    #print-content * {
        visibility: visible;
    }
    .modal{
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        min-height:550px
    }
}

.lead {
    margin-bottom: 0 !important;
}

p .lead {
    margin: 0 0 0 !important;
}
