<div id="reports">
    <table class="table table-striped table-hover clickable">
        <thead>
        <tr>
            <th>Razon Social</th>
            <th>RFC</th>
            <th>Domicilio</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="user in $ctrl.clientes | itemsPerPage: $ctrl.pageSize">
            <td>{{ user.razon_social }}</td>
            <td>{{ user.rfc }}</td>
            <td>{{ user.domicilio }}</td>
            <td>
                <!--<a class="btn btn-default" ng-click="$ctrl.asignItem(user)">Asignar</a>-->
                <a class="btn btn-default" ng-click="$ctrl.selectItem(user)">Editar</a>
                <a class="btn btn-danger" ng-click="$ctrl.deleteItem(user)">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<dir-pagination-controls class="pull-left" on-page-change="$ctrl.getClientes(newPageNumber, oldPageNumber)">
</dir-pagination-controls>
