<md-card class="md-whiteframe-4dp">
	<md-card-header>
		<md-card-header-text>
			<span class="md-title"></span>
			<span class="md-subhead"></span>
		</md-card-header-text>
		<!--
		<md-card-avatar>
			<md-icon class="md-avatar-icon" md-svg-icon="close" ng-click="$ctrl.delete()"></md-icon>
		</md-card-avatar>
		-->
	</md-card-header>

	<!--
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">{{ ::$ctrl.data.level }}</span>
			<span class="md-subhead">{{ $ctrl.data.email }}</span>
		</md-card-title-text>
	</md-card-title>
	-->

	<md-card-content>
		<p></p>
	</md-card-content>

	<md-card-actions layout="row" layout-align="center center" layout-wrap>
		<md-button class="md-primary" ng-click="$ctrl.select()">Edit</md-button>
		<md-button class="md-warn" ng-click="$ctrl.delete()">Delete</md-button>
	</md-card-actions>
</md-card>
