<div class="row">
    <div class="col-sm-12">
        <input id="filter" type="text" class="form-control"
               placeholder="Busqueda"
               ng-model="$ctrl.filterSearch"
               ng-change="$ctrl.filterClientes()">
        <a class="btn btn-raised btn-success pull-right" ng-disabled="!$ctrl.enableAdd"
                ng-click="$ctrl.add('recibo')">Recibo <span class="glyphicon glyphicon-plus-sign"></span></a>
        <a class="btn btn-raised btn-success pull-right" ng-disabled="!$ctrl.enableAdd"
                ng-click="$ctrl.add('pago')">Pago <span class="glyphicon glyphicon-plus-sign"></span></a>
    </div>
    <div class="col-sm-12">
        <clientes-documentos-list clientes="$ctrl.clientes" on-select-item="$ctrl.select($event)">
        </clientes-documentos-list>
    </div>
</div>

