<wizard on-finish="$ctrl.onSubmit();" ng-form="$ctrl.onSubmit();">
    <wz-step wz-title="Datos" class="form">
        <div class="form-group">
            <label for="rfc">RFC</label>
            <input id="rfc" class="form-control" type="text" ng-model="$ctrl.data.rfc" required>
        </div>
        <div class="form-group">
            <label for="razon_social">Razon Social</label>
            <input id="razon_social" class="form-control" type="text" ng-model="$ctrl.data.razon_social" required>
        </div>
        <div class="form-group">
            <label for="domicilio">Domicilio</label>
            <input id="domicilio" class="form-control" type="text" ng-model="$ctrl.data.domicilio" required>
        </div>
        <input class="btn btn-default btn-raised" type="submit" wz-next value="Continuar" ng-click="$ctrl.checkStep()"/>
    </wz-step>
    <wz-step wz-title="Contacto" class="form">
        <div class="form-group">
            <label for="nombre_contacto">Nombre de Contacto</label>
            <input id="nombre_contacto" class="form-control" type="text" ng-model="$ctrl.data.contacto.nombre_contacto">
        </div>
        <div class="form-group">
            <label for="telefono">Telefono</label>
            <input id="telefono" class="form-control" type="tel" ng-model="$ctrl.data.contacto.telefono">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" type="email" ng-model="$ctrl.data.contacto.email">
        </div>
        <div class="form-group">
            <label for="observaciones">Observaciones</label>
            <textarea id="observaciones" rows="3" class="form-control"
                      ng-model="$ctrl.data.contacto.observaciones"></textarea>
        </div>
        <input class="btn btn-default btn-raised" type="submit" wz-next value="Continuar" ng-click="$ctrl.checkStep()"/>
    </wz-step>
    <wz-step wz-title="Perfil" class="form">
        <div ng-repeat="(i, noPerfil) in $ctrl.repeatPerfil track by $index">
            <div class="form-group">
                <label for="regimen_fiscal">Regimen Fiscal {{i+1}}</label>
                <input id="regimen_fiscal" class="form-control" type="text"
                       ng-model="$ctrl.data.perfil[i].regimen_fiscal">
            </div>
            <div class="form-group">
                <label for="actividad_principal">Actividad Principal {{i+1}}</label>
                <input id="actividad_principal" class="form-control" type="text"
                       ng-model="$ctrl.data.perfil[i].actividad_principal">
            </div>
        </div>
        <input class="btn btn-default btn-raised" type="submit" wz-next value="Continuar" ng-click="$ctrl.checkStep()"/>
        <button class="btn btn-primary btn-raised" ng-click="$ctrl.addPerfil()">Agregar Perfil</button>
        <button class="btn btn-warning btn-raised" ng-click="$ctrl.removePerfil()">Quitar Perfil</button>
    </wz-step>
    <wz-step wz-title="Esquema de Pago" class="form">
        <div class="form-group">
            <label for="total">Total</label>
            <input id="total" class="form-control" type="number"
                   ng-model="$ctrl.data.esquema_pago.total">
        </div>
        <div class="form-group">
            <label for="periocidad">Periocidad</label>
            <select class="form-control text-capitalize" name="periocidad" id="periocidad"
                    ng-model="$ctrl.data.esquema_pago.periocidad"
                    ng-options="periodo for periodo in $ctrl.periocidad" ng-required="true">
                <option value="" selected="selected">Escoje un Periodo</option>
            </select>
        </div>
    </wz-step>
</wizard>
