<div id="recibos-form">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped clickable">
                <thead>
                <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>IVA %</th>
                    <th>Importe</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(i, noConcepto) in $ctrl.repeatConcepto track by $index">
                    <td>
                        <input class="form-control" type="number" ng-model="$ctrl.data.concepto[i].cantidad" ng-init="1">
                    </td>
                    <td><input class="form-control" type="text"
                               ng-model="$ctrl.data.concepto[i].concepto"></td>
                    <td><input class="form-control" min="0" type="number" ng-change="$ctrl.calcularImporte(i)"
                               step="0.01" ng-model="$ctrl.data.concepto[i].precio" ng-init="0.00">
                    </td>
                    <td><input class="form-control" type="number" ng-change="$ctrl.calcularImporte(i)"
                               ng-model="$ctrl.data.concepto[i].iva" ng-init="16"></td>
                    <td><input class="form-control" min="0" type="number" step="0.01"
                               ng-model="$ctrl.data.concepto[i].importe" ng-readonly="true"></td>
                    <td>
                        <button class="btn btn-danger btn-md" ng-click="$ctrl.removeConcepto(i)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4 pull-right">
            <div class="well-sm">
                <div class="form-group">
                    <label for="subtotal">Subtotal</label>
                    <input type="text" id="subtotal" class="form-control" ng-model="$ctrl.data.totales.subtotal" disabled>
                </div>
                <div class="form-group">
                    <label for="iva">IVA</label>
                    <input type="text" id="iva" class="form-control" ng-model="$ctrl.data.totales.iva" disabled>
                </div>
                <div class="form-group">
                    <label for="total"><strong>Total</strong></label>
                    <input type="text" id="total" class="form-control" ng-model="$ctrl.data.totales.total" disabled>
                </div>
            </div>

        </div>
        <div class="col-sm-12">
            <button class="btn btn-primary btn-raised pull-right" ng-click="$ctrl.addConcepto()">Agregar Concepto</button>
        </div>
    </div>
</div>
